.cityResult{
    border: solid grey 1px;
    border-radius: 20px;
    width: 35vw;
    height: 10vw;
    display: flex;
    flex-direction: column;
}

.cityResult > div{
    margin: 10px;
}
.cityResult > h2{
     margin: 10px;
    font-weight: normal;
 }

.listObjectResult{
    border: solid gray 1px;
    border-radius: 20px;
    list-style-type: none;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    color: rgba(0,0,0,0.9);
    cursor: pointer;
}

.listObjectResult:hover{
    background-color: #944dd3;
    color: white;
}



.resultContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vh;
}